{% extends 'layout.html.twig' %}

{% block title %}Mes groupes privés{% endblock %}

{% block main %}
    <div class="text-center py-3 addSortie">
        <div class="container-fluid">
            <div class="row">
                <div class="mx-auto col-10 bg-white p-5 col-md-10">
                    <h1>Mes groupes privés</h1>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.id }}</td>
                <td>{{ groupe.nom }}</td>
                <td>
                    <a href="{{ path('groupe_show', {'id': groupe.id}) }}">show</a>
                    <a href="{{ path('groupe_edit', {'id': groupe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('groupe_new') }}">Create new</a>
{% endblock %}
