{% extends 'layout.html.twig' %}

{% block main %}

    <div class="row">
        <h2>Créer une sortie !</h2>
    </div>
    {{ form_start(formSortie) }}

    <div class="row">
        <div class="col-6">
            {{ form_row(formSortie.nom) }}
            {{ form_row(formSortie.dateHeureDebut) }}
            {{ form_row(formSortie.dateLimiteInscription) }}
            {{ form_row(formSortie.nbInscriptionsMax) }}
            {{ form_row(formSortie.duree) }}
            {{ form_row(formSortie.infosSortie) }}
        </div>
        <div class="col-6">
            {{ form_row(formSortie.ville) }}
            {{ form_row(formSortie.lieu) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3"> {{ form_widget(formSortie.enregister, { 'label': 'Enregister' }) }}</div>
        <div class="col-6"> {{ form_widget(formSortie.publier, { 'label': 'Publier' }) }}</div>
        <div class="col-3"> <button type="submit" name="annuler" id="annuler" class="btn btn-secondary btn-block">Annuler</button></div>
        {{ form_end(formSortie) }}
    </div>

{% endblock %}