{% extends 'layout.html.twig' %}

{% block main %}
    <div class="text-center py-3 addSortie">
        <div class="container-fluid">
            <div class="row">
                <div class="mx-auto col-10 bg-white p-5 col-md-10">
                    <h1>Créer une sortie !</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mainContent">
        <div class="container">
            {{ form_start(formSortie) }}

            <div class="row">
                <div class="col-6">
                    {{ form_row(formSortie.nom) }}
                    {{ form_row(formSortie.dateHeureDebut) }}
                    {{ form_row(formSortie.dateLimiteInscription) }}
                    {{ form_row(formSortie.nbInscriptionsMax) }}
                    {{ form_row(formSortie.duree) }}
                    {{ form_row(formSortie.infosSortie) }}
                </div>
                <div class="col-6">
                    {{ form_row(formSortie.ville) }}
                    {{ form_row(formSortie.lieu) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"> {{ form_widget(formSortie.enregister, { 'label': 'Enregister' }) }}</div>
                <div class="col-md-6"> {{ form_widget(formSortie.publier, { 'label': 'Publier' }) }}</div>

                {{ form_end(formSortie) }}
                <div class="col-md-3">
                    <a href="{{ url('liste_sorties') }}"><button type="button" name="annuler" id="annuler" class="btn btn-secondary btn-block">Annuler
                    </button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}