{% extends 'layout.html.twig' %}

{% block main %}

    {{ form_start(rechercheForm) }}
    {{ form_widget(rechercheForm) }}
    {{ form_end(rechercheForm) }}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Clôture</th>
        <th scope="col">Inscrit/places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col"></th>
    </tr>
    </thead>

    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut|date("d/m/Y h:i") }}</td>
            <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
            <td>{{ sortie.nbInscriptionsMax }}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td></td>
            <td></td>
            <td><a href="{{ path('sortie_details',{'id':sortie.id}) }}">Voir les détails</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}