{% extends 'layout.html.twig' %}
{% block title %}Gestion des villes{% endblock %}
{% block main %}

    <div class="text-center py-3 addSortie">
        <div class="container-fluid">
            <div class="row">
                <div class="mx-auto col-10 bg-white p-5 col-md-10">
                    <h1>Gestion des villes</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid searchForm">
        <div class="container">
            <div>
                <h3>Filtrer les villes :</h3>
            </div>
            {{ form_start(rechercheVilleForm) }}

            {{ form_label(rechercheVilleForm.nomContient) }}
            <div class="row">
                <div class="col-8">
                    {{ form_widget(rechercheVilleForm.nomContient) }}
                </div>
                <div class="col-4">
                    {{ form_widget(rechercheVilleForm.rechercher) }}
                </div>
            </div>
            <a href="{{ url('ville') }}">{{ form_widget(rechercheVilleForm.voirTout) }}</a>

            {{ form_end(rechercheVilleForm) }}
        </div>
    </div>

    <div class="container searchResults">
        <div>
            <h2>Liste des villes :</h2>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ville in villes %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>{{ ville.codePostal }}</td>
                        <td>
                            <a class="actions" href="{{ path('ville_edit', {'id': ville.id}) }}"><i class="far fa-edit"></i></a>
                            {{ include('ville/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <a href="{{ path('ville_add') }}">
            <button class="btn btn-primary btn-lg btn-block">Ajouter une ville</button>
        </a>
    </div>

    </div>
{% endblock %}