<nav class="nav-link active">
        <a href="{{ path('liste_sorties') }}">Accueil</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user-register') }}">Créer un profil</a>
            <a href="{{ path('site') }}">Liste des sites</a>
            <a href="{{ path('site') }}">Liste des villes</a><!-- revoir le chemin -->
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('logout') }}">Déconnexion</a>
            <a href="{{ path('user-update') }}">Mon profil</a>
        {% else %}
            <a href="{{ path('login') }}">Se connecter</a>
        {% endif %}
</nav>