<h1>Profil de {{ user.username }}</h1>
{% if user.photo is not empty %}
    <img src="{{ asset('uploads/photos/' ~ user.photo) }}" alt="Ma photo" style="width: 200px">
{% endif %}
<ul>
    <li>Prénom : {{ user.prenom }}</li>
    <li>Nom : {{ user.nom }}</li>
    <li>Téléphone : {{ user.telephone }}</li>
    <li>Email : {{ user.email }}</li>
    <li>Ville de rattachement : {{ user.site.nom }}</li>
</ul>




