{% extends 'layout.html.twig' %}
{% block title %}Modifier votre profil{% endblock %}
{% block main %}

    <h1>Modifier mon mot de passe</h1>
    <div>
        {{ form_start(mdpForm) }}

        <div class="group">
            {{ form_label(mdpForm.passwordActuel) }}
            {{ form_widget(mdpForm.passwordActuel) }}
        </div>

        <div class="group">
            {{ form_label(mdpForm.password) }}
            {{ form_widget(mdpForm.password) }}
        </div>

        <button type="submit">Enregistrer</button>
        {{ form_end(mdpForm) }}
    </div>

{% endblock %}